In [9]:
import pandas as pd
import numpy as np
import sqlite3
from datetime import datetime, timedelta
from pytz import timezone

In [10]:
__TIMEZONE = timezone('Europe/London')
days = 1/24

In [11]:
_DB_URL = "/Users/kws/dropbox/iot/eeepc/iot-log.db"

In [12]:
start_date = datetime.utcnow() - timedelta(days=days)
start = start_date.strftime('%Y-%m-%dT%H:%M:%S')

with sqlite3.connect(_DB_URL) as conn:
    df = pd.read_sql_query(
        "select l.date,l.id,s.name,l.type,l.value,s.sort_order from log as l"
        "  left join sensors as s on l.id = s.id "
        "  where l.date>=? and l.type=? order by l.date",
        conn, params=[start, 'presence'])
    
df['date'] = pd.to_datetime(df.date)
df['date'] = df['date'].dt.tz_localize(timezone('UTC'))
df['date'] = df['date'].dt.tz_convert(__TIMEZONE)
orig = df
df

                         date  id     name      type value sort_order
0   2020-04-18 14:41:41+01:00  47  Kitchen  presence     0          1
1   2020-04-18 14:42:15+01:00  53  Bedroom  presence     0          2
2   2020-04-18 14:42:30+01:00  47  Kitchen  presence     1          1
3   2020-04-18 14:42:31+01:00  42   Garage  presence     1          3
4   2020-04-18 14:42:48+01:00  83   Garden  presence     1          5
..                        ...  ..      ...       ...   ...        ...
162 2020-04-18 15:27:33+01:00  47  Kitchen  presence     0          1
163 2020-04-18 15:28:24+01:00  53  Bedroom  presence     1          2
164 2020-04-18 15:28:38+01:00  53  Bedroom  presence     0          2
165 2020-04-18 15:36:02+01:00  53  Bedroom  presence     1          2
166 2020-04-18 15:36:20+01:00  53  Bedroom  presence     0          2

[167 rows x 6 columns]

In [43]:
df = orig.copy()
periods = 30
time_window = days / periods

start_date_tz = timezone('UTC').localize(start_date)
# start_date_tz = start_date.astimezone(__TIMEZONE)

df = df.sort_values(["id","date"]).reset_index(drop=True)
df.loc[df.value == '1', 'start'] = df.date
df.loc[df.value == '0', 'end'] = df.date

# Fill first and last of each sensor with the start and end of dataframe
df.loc[(df.start.isnull()) & (df.id != df.id.shift(1)), 'start'] = start_date_tz
df.loc[(df.end.isnull()) & (df.id != df.id.shift(-1)), 'end'] = start_date_tz + timedelta(days=days)

df[['end']] = df[['end']].fillna(method='bfill')
df[['start']] = df[['start']].fillna(method='ffill')

df.head(50).tail(15)

,date,id,name,type,value,sort_order,start,end
35,2020-04-18 15:22:29+01:00,42,Garage,presence,1,3,2020-04-18 15:22:29+01:00,2020-04-18 15:24:00+01:00
36,2020-04-18 15:24:00+01:00,42,Garage,presence,0,3,2020-04-18 15:22:29+01:00,2020-04-18 15:24:00+01:00
37,2020-04-18 15:24:01+01:00,42,Garage,presence,1,3,2020-04-18 15:24:01+01:00,2020-04-18 15:25:02+01:00
38,2020-04-18 15:24:44+01:00,42,Garage,presence,1,3,2020-04-18 15:24:44+01:00,2020-04-18 15:25:02+01:00
39,2020-04-18 15:25:02+01:00,42,Garage,presence,0,3,2020-04-18 15:24:44+01:00,2020-04-18 15:25:02+01:00
40,2020-04-18 15:25:10+01:00,42,Garage,presence,1,3,2020-04-18 15:25:10+01:00,2020-04-18 15:25:24+01:00
41,2020-04-18 15:25:24+01:00,42,Garage,presence,0,3,2020-04-18 15:25:10+01:00,2020-04-18 15:25:24+01:00
42,2020-04-18 14:41:41+01:00,47,Kitchen,presence,0,1,2020-04-18 13:41:38.328362+00:00,2020-04-18 14:41:41+01:00
43,2020-04-18 14:42:30+01:00,47,Kitchen,presence,1,1,2020-04-18 14:42:30+01:00,2020-04-18 14:43:14+01:00
44,2020-04-18 14:43:14+01:00,47,Kitchen,presence,0,1,2020-04-18 14:42:30+01:00,2020-04-18 14:43:14+01:00
45,2020-04-18 14:43:36+01:00,47,Kitchen,presence,1,1,2020-04-18 14:43:36+01:00,2020-04-18 14:44:04+01:00
46,2020-04-18 14:43:49+01:00,47,Kitchen,presence,1,1,2020-04-18 14:43:49+01:00,2020-04-18 14:44:04+01:00
47,2020-04-18 14:44:04+01:00,47,Kitchen,presence,0,1,2020-04-18 14:43:49+01:00,2020-04-18 14:44:04+01:00
48,2020-04-18 14:44:08+01:00,47,Kitchen,presence,1,1,2020-04-18 14:44:08+01:00,2020-04-18 14:44:18+01:00
49,2020-04-18 14:44:18+01:00,47,Kitchen,presence,0,1,2020-04-18 14:44:08+01:00,2020-04-18 14:44:18+01:00

In [59]:
df['delta'] = df['start'] + timedelta(days=time_window)
df['delta_prev'] = df.delta.shift(1)
next_sensor = df.id != df.id.shift(1)
df.loc[next_sensor, 'delta'] = df.end
df.loc[next_sensor, 'delta_prev'] = df.start - timedelta(seconds=1)
df.head(50).tail(15)

,date,id,name,type,value,sort_order,start,end,delta,delta_prev,group_id,delta_end
35,2020-04-18 15:22:29+01:00,42,Garage,presence,1,3,2020-04-18 15:22:29+01:00,2020-04-18 15:24:00+01:00,2020-04-18 15:24:29+01:00,2020-04-18 15:23:57+01:00,33.0,NaN
36,2020-04-18 15:24:00+01:00,42,Garage,presence,0,3,2020-04-18 15:22:29+01:00,2020-04-18 15:24:00+01:00,2020-04-18 15:24:29+01:00,2020-04-18 15:24:29+01:00,33.0,NaN
37,2020-04-18 15:24:01+01:00,42,Garage,presence,1,3,2020-04-18 15:24:01+01:00,2020-04-18 15:25:02+01:00,2020-04-18 15:26:01+01:00,2020-04-18 15:24:29+01:00,33.0,NaN
38,2020-04-18 15:24:44+01:00,42,Garage,presence,1,3,2020-04-18 15:24:44+01:00,2020-04-18 15:25:02+01:00,2020-04-18 15:26:44+01:00,2020-04-18 15:26:01+01:00,33.0,NaN
39,2020-04-18 15:25:02+01:00,42,Garage,presence,0,3,2020-04-18 15:24:44+01:00,2020-04-18 15:25:02+01:00,2020-04-18 15:26:44+01:00,2020-04-18 15:26:44+01:00,33.0,NaN
40,2020-04-18 15:25:10+01:00,42,Garage,presence,1,3,2020-04-18 15:25:10+01:00,2020-04-18 15:25:24+01:00,2020-04-18 15:27:10+01:00,2020-04-18 15:26:44+01:00,33.0,NaN
41,2020-04-18 15:25:24+01:00,42,Garage,presence,0,3,2020-04-18 15:25:10+01:00,2020-04-18 15:25:24+01:00,2020-04-18 15:27:10+01:00,2020-04-18 15:27:10+01:00,33.0,NaN
42,2020-04-18 14:41:41+01:00,47,Kitchen,presence,0,1,2020-04-18 13:41:38.328362+00:00,2020-04-18 14:41:41+01:00,2020-04-18 14:41:41+01:00,2020-04-18 13:41:37.328362+00:00,33.0,dpdp
43,2020-04-18 14:42:30+01:00,47,Kitchen,presence,1,1,2020-04-18 14:42:30+01:00,2020-04-18 14:43:14+01:00,2020-04-18 14:44:30+01:00,2020-04-18 13:43:38.328362+00:00,33.0,NaN
44,2020-04-18 14:43:14+01:00,47,Kitchen,presence,0,1,2020-04-18 14:42:30+01:00,2020-04-18 14:43:14+01:00,2020-04-18 14:44:30+01:00,2020-04-18 14:44:30+01:00,33.0,NaN
45,2020-04-18 14:43:36+01:00,47,Kitchen,presence,1,1,2020-04-18 14:43:36+01:00,2020-04-18 14:44:04+01:00,2020-04-18 14:45:36+01:00,2020-04-18 14:44:30+01:00,33.0,NaN
46,2020-04-18 14:43:49+01:00,47,Kitchen,presence,1,1,2020-04-18 14:43:49+01:00,2020-04-18 14:44:04+01:00,2020-04-18 14:45:49+01:00,2020-04-18 14:45:36+01:00,33.0,NaN
47,2020-04-18 14:44:04+01:00,47,Kitchen,presence,0,1,2020-04-18 14:43:49+01:00,2020-04-18 14:44:04+01:00,2020-04-18 14:45:49+01:00,2020-04-18 14:45:49+01:00,33.0,NaN
48,2020-04-18 14:44:08+01:00,47,Kitchen,presence,1,1,2020-04-18 14:44:08+01:00,2020-04-18 14:44:18+01:00,2020-04-18 14:46:08+01:00,2020-04-18 14:45:49+01:00,33.0,NaN
49,2020-04-18 14:44:18+01:00,47,Kitchen,presence,0,1,2020-04-18 14:44:08+01:00,2020-04-18 14:44:18+01:00,2020-04-18 14:46:08+01:00,2020-04-18 14:46:08+01:00,33.0,NaN

In [60]:
df['group_id'] = df.index
df.loc[df.start <= df.delta_prev, 'group_id'] = np.nan
df['group_id'] = df['group_id'].fillna(method='ffill')
df.head(50).tail(15)

,date,id,name,type,value,sort_order,start,end,delta,delta_prev,group_id,delta_end
35,2020-04-18 15:22:29+01:00,42,Garage,presence,1,3,2020-04-18 15:22:29+01:00,2020-04-18 15:24:00+01:00,2020-04-18 15:24:29+01:00,2020-04-18 15:23:57+01:00,33.0,NaN
36,2020-04-18 15:24:00+01:00,42,Garage,presence,0,3,2020-04-18 15:22:29+01:00,2020-04-18 15:24:00+01:00,2020-04-18 15:24:29+01:00,2020-04-18 15:24:29+01:00,33.0,NaN
37,2020-04-18 15:24:01+01:00,42,Garage,presence,1,3,2020-04-18 15:24:01+01:00,2020-04-18 15:25:02+01:00,2020-04-18 15:26:01+01:00,2020-04-18 15:24:29+01:00,33.0,NaN
38,2020-04-18 15:24:44+01:00,42,Garage,presence,1,3,2020-04-18 15:24:44+01:00,2020-04-18 15:25:02+01:00,2020-04-18 15:26:44+01:00,2020-04-18 15:26:01+01:00,33.0,NaN
39,2020-04-18 15:25:02+01:00,42,Garage,presence,0,3,2020-04-18 15:24:44+01:00,2020-04-18 15:25:02+01:00,2020-04-18 15:26:44+01:00,2020-04-18 15:26:44+01:00,33.0,NaN
40,2020-04-18 15:25:10+01:00,42,Garage,presence,1,3,2020-04-18 15:25:10+01:00,2020-04-18 15:25:24+01:00,2020-04-18 15:27:10+01:00,2020-04-18 15:26:44+01:00,33.0,NaN
41,2020-04-18 15:25:24+01:00,42,Garage,presence,0,3,2020-04-18 15:25:10+01:00,2020-04-18 15:25:24+01:00,2020-04-18 15:27:10+01:00,2020-04-18 15:27:10+01:00,33.0,NaN
42,2020-04-18 14:41:41+01:00,47,Kitchen,presence,0,1,2020-04-18 13:41:38.328362+00:00,2020-04-18 14:41:41+01:00,2020-04-18 14:41:41+01:00,2020-04-18 13:41:37.328362+00:00,42.0,dpdp
43,2020-04-18 14:42:30+01:00,47,Kitchen,presence,1,1,2020-04-18 14:42:30+01:00,2020-04-18 14:43:14+01:00,2020-04-18 14:44:30+01:00,2020-04-18 13:43:38.328362+00:00,42.0,NaN
44,2020-04-18 14:43:14+01:00,47,Kitchen,presence,0,1,2020-04-18 14:42:30+01:00,2020-04-18 14:43:14+01:00,2020-04-18 14:44:30+01:00,2020-04-18 14:44:30+01:00,42.0,NaN
45,2020-04-18 14:43:36+01:00,47,Kitchen,presence,1,1,2020-04-18 14:43:36+01:00,2020-04-18 14:44:04+01:00,2020-04-18 14:45:36+01:00,2020-04-18 14:44:30+01:00,42.0,NaN
46,2020-04-18 14:43:49+01:00,47,Kitchen,presence,1,1,2020-04-18 14:43:49+01:00,2020-04-18 14:44:04+01:00,2020-04-18 14:45:49+01:00,2020-04-18 14:45:36+01:00,42.0,NaN
47,2020-04-18 14:44:04+01:00,47,Kitchen,presence,0,1,2020-04-18 14:43:49+01:00,2020-04-18 14:44:04+01:00,2020-04-18 14:45:49+01:00,2020-04-18 14:45:49+01:00,42.0,NaN
48,2020-04-18 14:44:08+01:00,47,Kitchen,presence,1,1,2020-04-18 14:44:08+01:00,2020-04-18 14:44:18+01:00,2020-04-18 14:46:08+01:00,2020-04-18 14:45:49+01:00,42.0,NaN
49,2020-04-18 14:44:18+01:00,47,Kitchen,presence,0,1,2020-04-18 14:44:08+01:00,2020-04-18 14:44:18+01:00,2020-04-18 14:46:08+01:00,2020-04-18 14:46:08+01:00,42.0,NaN

In [61]:
df.groupby('group_id').agg({'name': 'first', 'start': min, 'end':max, 'sort_order': 'first'}).reset_index()

,group_id,name,start,end,sort_order
0,0.0,Garage,2020-04-18 14:42:31+01:00,2020-04-18 14:50:49+01:00,3
1,14.0,Garage,2020-04-18 14:54:28+01:00,2020-04-18 14:56:46+01:00,3
2,20.0,Garage,2020-04-18 15:01:21+01:00,2020-04-18 15:03:21+01:00,3
3,23.0,Garage,2020-04-18 15:06:34+01:00,2020-04-18 15:07:47+01:00,3
4,27.0,Garage,2020-04-18 15:16:24+01:00,2020-04-18 15:18:22+01:00,3
5,29.0,Garage,2020-04-18 15:18:27+01:00,2020-04-18 15:19:26+01:00,3
6,33.0,Garage,2020-04-18 15:21:57+01:00,2020-04-18 15:25:24+01:00,3
7,42.0,Kitchen,2020-04-18 13:41:38.328362+00:00,2020-04-18 14:50:55+01:00,1
8,67.0,Kitchen,2020-04-18 14:54:25+01:00,2020-04-18 14:59:04+01:00,1
9,72.0,Kitchen,2020-04-18 14:59:11+01:00,2020-04-18 15:04:20+01:00,1
10,86.0,Kitchen,2020-04-18 15:06:32+01:00,2020-04-18 15:09:41+01:00,1
11,92.0,Kitchen,2020-04-18 15:16:17+01:00,2020-04-18 15:16:32+01:00,1
12,94.0,Kitchen,2020-04-18 15:19:18+01:00,2020-04-18 15:24:16+01:00,1
13,98.0,Kitchen,2020-04-18 15:25:15+01:00,2020-04-18 15:27:33+01:00,1
14,104.0,Bedroom,2020-04-18 13:41:38.328362+00:00,2020-04-18 14:42:15+01:00,2
15,105.0,Bedroom,2020-04-18 14:44:16+01:00,2020-04-18 14:50:16+01:00,2
16,117.0,Bedroom,2020-04-18 14:52:42+01:00,2020-04-18 14:52:51+01:00,2
17,119.0,Bedroom,2020-04-18 14:55:02+01:00,2020-04-18 15:01:12+01:00,2
18,127.0,Bedroom,2020-04-18 15:03:12+01:00,2020-04-18 15:06:38+01:00,2
19,130.0,Bedroom,2020-04-18 15:07:46+01:00,2020-04-18 15:13:02+01:00,2
20,131.0,Bedroom,2020-04-18 15:12:52+01:00,2020-04-18 15:16:14+01:00,2
21,135.0,Bedroom,2020-04-18 15:16:15+01:00,2020-04-18 15:19:55+01:00,2
22,139.0,Bedroom,2020-04-18 15:20:05+01:00,2020-04-18 15:20:26+01:00,2
23,141.0,Bedroom,2020-04-18 15:28:24+01:00,2020-04-18 15:28:38+01:00,2
24,143.0,Bedroom,2020-04-18 15:36:02+01:00,2020-04-18 15:36:20+01:00,2
25,145.0,Tent,2020-04-18 14:44:43+01:00,2020-04-18 14:44:53+01:00,4
26,147.0,Tent,2020-04-18 15:19:28+01:00,2020-04-18 15:19:59+01:00,4
27,149.0,Garden,2020-04-18 14:42:48+01:00,2020-04-18 14:42:58+01:00,5
28,151.0,Garden,2020-04-18 14:46:51+01:00,2020-04-18 14:47:01+01:00,5
29,153.0,Garden,2020-04-18 15:19:24+01:00,2020-04-18 15:20:06+01:00,5
30,155.0,Front,2020-04-18 14:49:36+01:00,2020-04-18 14:52:52+01:00,6